<div class="grid-container">
  <div class="menu">
    <div *ngIf="mobile === false" class="vertical-menu">
      <a class="menuitem1" (click)="ChangeColor('blue')">Menu Item</a>
      <a class="menuitem2" (click)="ChangeColor('red')">Menu Item</a>
      <a class="menuitem3" (click)="ChangeColor('blueviolet')">Menu Item</a>
      <a class="menuitem4" (click)="ChangeColor('coral')">Menu Item</a>
      <a class="menuitem5" (click)="ChangeColor('darkgreen')">Menu Item</a>
      <a class="menuitem6" (click)="ChangeColor('deeppink')">Menu Item</a>
      <a class="menuitem7" (click)="ChangeColor('gold')">Menu Item</a>
      <a class="menuitem8" (click)="ChangeColor('paleturquoise')">Menu Item</a>
      <a class="menuitem9" (click)="ChangeColor('royalblue')">Menu Item</a>
      <a class="menuitem10" (click)="ChangeColor('saddlebrown')">Menu Item</a>
      <a class="menuitem11" (click)="ChangeColor('silver')">Menu Item</a>
    </div>
  </div>

  <div class="form">
    <form [formGroup]="Form" novalidate>
      <div class="formtitle">TITLE</div>
      <div>
        <input required type="text" formControlName="First" />
      </div>

      <div>
        <input required type="text" formControlName="Second" />
      </div>

      <div>
        <input required type="text" formControlName="Third" />
      </div>

      <div>
        <input required type="text" formControlName="Last" />
      </div>

      <div *ngIf="(Form.invalid && Form.touched) || Form.dirty">
        <h3 style="color: rgb(255, 4, 4)">All fields are required</h3>
      </div>

      <button
        id="resetbtn"
        class="resetbtn"
        type="submit"
        [disabled]="!Form.dirty"
        (click)="resetForm()"
      >
        RESET BUTTON
      </button>

      <button
        id="submitbtn"
        class="submitbtn"
        type="submit"
        [disabled]="!Form.valid"
        routerLink="/{{ nextpage }}"
      >
        SUBMIT BUTTON
      </button>
    </form>
  </div>
</div>
