<div class="grid-container">
  <div class="menu">
    <div class="vertical-menu">
      <a href="#" style="background-color: blue">Menu Item </a>
      <a href="#" style="background-color: red">Menu Item </a>
      <a href="#" style="background-color: blueviolet">Menu Item </a>
      <a href="#" style="background-color: coral">Menu Item </a>
      <a href="#" style="background-color: darkgreen">Menu Item </a>
      <a href="#" style="background-color: deeppink">Menu Item </a>
      <a href="#" style="background-color: gold">Menu Item </a>
      <a href="#" style="background-color: paleturquoise">Menu Item </a>
      <a href="#" style="background-color: royalblue">Menu Item </a>
      <a href="#" style="background-color: black">Menu Item </a>
      <a href="#" style="background-color: green">Menu Item </a>
    </div>
  </div>

  <div class="form">
    <form>
      <h1>Tıtle</h1>
      <br />
      <input type="text" value="TEXT FORM FILED" /><br />
      <br />
      <input type="text" value="TEXT FORM FILED" /><br />
      <br />
      <input type="text" value="TEXT FORM FILED" /><br />
      <br />
      <input type="text" value="TEXT FORM FILED" /><br /><br />

      <input type="submit" value="RESET BUTTON" />
      <input type="submit" value="SUMBIT BUTTON" />
    </form>
  </div>
</div>
